<!--http://scotch.io/tutorials/javascript/angularjs-form-validation-->
<ion-view title="{{staticText.title}}">
    <ion-content class="has-header padding">
        <h1>{{staticText.h1}}</h1>

        <p>{{welcomeMsg}}</p>

        <button ng-show="gameReady" class="button button-block button-stable" ng-click="playGame()">
            {{staticText.getStarted}}
            <!-- SUBMIT BUTTON -->
            <!-- <button type="submit" class="button button-block button-stable">Submit</button>-->
        </button>

        <button ng-show="connectionError" class="button button-block button-stable" ng-click="refreshPage()">
            {{staticText.tryAgain}}
            <!-- SUBMIT BUTTON -->
            <!-- <button type="submit" class="button button-block button-stable">Submit</button>-->
        </button>

    </ion-content>
</ion-view>
