<!--http://scotch.io/tutorials/javascript/angularjs-form-validation-->
<ion-view title="{{staticText.title}}">
    <ion-content class="has-header padding">
        <h1>{{staticText.registration}}</h1>

        <p>{{staticText.p1}}</p>

        <form name="registrationForm" role="form" novalidate>
            <div class="list list-inset">

                <label class="item item-input">
                    <input type="text" name="given_name" ng-model="user.given_name"
                           placeholder="{{staticText.firstName}}"
                           ng-minlength="3" ng-maxlength="20" required>
                </label>

                <label class="item item-input">
                    <input type="text" name="family_name" ng-model="user.family_name"
                           placeholder="{{staticText.lastName}}"
                           ng-minlength="3" ng-maxlength="20" required>
                </label>

                <label class="item item-input">
                    <input type="email" name="email" ng-model="user.email"
                           ng-model-options="{ updateOn: 'blur' }" placeholder="{{staticText.email}}"
                           ng-minlength="6" ng-maxlength="40" required>
                </label>

                <label class="item item-input">
                    <input type="password" name="password" ng-model="user.password"
                           ng-model-options="{ updateOn: 'blur' }" placeholder="{{staticText.password}}"
                           ng-minlength="6" ng-maxlength="20" required>
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-stable" ng-click="submitForm(registrationForm.$valid)">
                    {{staticText.submit}}

                </button>
            </div>
        </form>
        <button class="button button-clear button-stable"  ui-sref="login">
            {{staticText.alreadyAMember}}
        </button>


        <pre>form = {{user | json}}</pre>
        <pre>master = {{master | json}}</pre>


    </ion-content>
</ion-view>
